<div class="navbar row">
  <ul class="six columns">
    <li><a ui-sref="layout.comics.show({comicId: lastId})">Home</a></li>
    <li><a ui-sref="layout.about">About</a></li>
    <li><a ui-sref="layout.disclaimer">Disclaimer</a></li>
    <!-- <li class="last">
      <a href="#">Options</a>
      <ul>
        <li>Comics list</li>
        <li>Upload comic</li>
      </ul>
    </li> -->
  </ul>
  <!-- <div class=""> -->
    <ul class="two columns offset-by-four dropdown">
      <li>
        <a href="#">OO <span class="arrow">&#9660;</span></a>
        <ul class="submenu">
          <li><a href="#">Comics list</a></li>
          <li><a href="#">Upload comic</a></li>
        </ul>
      </li>
    </ul>
  <!-- </div> -->
</div>
<div ui-view></div>
