<div class="navbar row">

  <ul class="six columns">
    <li><a ui-sref="layout.comics.show({comicId: lastId})">Home</a></li>
    <li><a ui-sref="layout.contents({contentId: 'about'})">About</a></li>
    <li><a ui-sref="layout.contents({contentId: 'disclaimer'})">Disclaimer</a></li>
  </ul>

  <ul class="two columns offset-by-four dropdown" ng-show="authorized()">
    <li>
      <a href="#">
        <img src="/assets/wheel.svg" />
        <span class="arrow">&#9660;</span>
      </a>
      <ul class="submenu">
        <li><a ui-sref="layout.comics.list">Comics list</a></li>
        <li><a ui-sref="layout.comics.new">Upload comic</a></li>
        <li><a ui-sref="layout.users.show({userId: currentUser.id})">User details</a></li>
      </ul>
    </li>
  </ul>

</div>
<div ui-view ng-show="!loading"></div>
<div class="sk-spinner sk-spinner-pulse app-spinner" ng-show="loading"></div>

