<div ng-hide="loading">
  <div ng-show="!comicList">Error during loading comics list ocurred, sorry.</div>
  <div ng-show="comicList && comicList.length == 0">No comics were found to list, sorry.</div>
  <table ng-show="comicList && comicList.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Uploded at</th>
        <th>Uploaded by</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="comic in comicList">
        <td>{{ comic.id }}</td>
        <td>{{ comic.title }}</td>
        <td>{{ comic.created_at }}</td>
        <td class="table-action">{{ comic.user ? comic.user.initial : '' }}</td>
        <td class="table-action">
          <a href confirm-modal model="comic"
                  action="deleteComic(comic)"
                  text="You are about to delete the following item:"
                  item-name="comic.title"
                  working="working">
            &times;
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
