<!DOCTYPE html>
<html>
<head>
  <title><%= Afo::Settings[:app_title] + ' - ' + Afo::Settings[:app_subtitle] %></title>
  <link rel="stylesheet" type="text/css" href="/assets/afo.css">
  <script rel="javascript" type="text/js" src="/assets/afo.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>