/* font- realted
-----------------*/

/* not really using these fonts, considered as alternative*/
/*
@font-face{
  font-family: droid;
  src: url(../fonts/DroidSans.ttf)
}

@font-face{
  font-family: open-sans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
*/
$h3_plus_nav_font_size: 2.4rem;
$background-color: #191a1e;
$orange-color: #f76600;
$white-color: #fafafa;
$grey-color: #3c3d41;

@font-face{
  font-family: aller;
  src: url(../fonts/Aller_Rg.ttf);
}

body{
  font-family: aller, roboto, droid, open-sans;
  background-color: #191a1e;
  color: #fafafa;
}

@media (min-width: 550px){
  h3{
    font-size: 2.8rem;
  }
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

h3{
  font-size: $h3_plus_nav_font_size;
}

/*main nav
------*/
.navbar ul{
  list-style: none;
  text-align: justify;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;

  @media screen and (min-width: 550px) {
    li {
          width: 150px;
          // padding-right: 50px;
          border-bottom: none;
          margin-bottom: 0;
          // height: 30px;
          // line-height: 30px;
          font-size: $h3_plus_nav_font_size;
          display: inline-block;
    }
  }

  li {
    font-size: 2.2rem;
    // line-height: 40px;
    // height: 40px;

    a {
      text-decoration: none;
      color: $white-color;
      display: block;
      transition: 0.4s color;
      // border-radius: 10px;
      // border-left: 1px solid  #fafafa;
    }

    a:hover {
      // background-color: #f76600;
      color: $orange-color;
    }

    a.disabled {
      pointer-events: none;
      cursor: default;
      color: #3c3d41;//#5f5f5f;
    }
  }

  li:hover .submenu {
    z-index: 1;
    opacity: 1;
  }

  ul.submenu {
    position: absolute;
    z-index: -1;
    display: block;
    opacity: 0;
    transition: opacity linear 0.4s;

    li {
      position: relative;
      display: block;
      background-color: #3c3d41;
      font-size: 1.8rem;

      a {
        display: block;
        padding: 10px 5px;
      }
    }
  }
}

ul.dropdown {
  li {
    transition: all linear 0.4s;

    a {
      display: block;
      padding: 5px 5px;
    }
  }

  :hover {
    background-color: #3c3d41;
  }
}

.selected {
  color: #f76600;
}


.arrow {
    font-size: 11px;
    line-height: 0%;
}
/* main nav end */


.navbar-comic ul {
  display: table;
  margin: 0 auto;

  @media screen and (min-width: 550px) {
    li {
          width: auto;
          margin: 0 10px;
    }
  }
}

.comic-container {
  display: inline-block;
}

.app-spinner {
  background-color: #fafafa;
  width: 80px;
  height: 80px;
  margin: 80px auto;
}

.button-spinner {
  background-color: $white-color;
  margin: 0 0;
  width: 25px;
  height: 25px;
}

h3.comic-title{
  margin-bottom: 1rem;
}

/***forms***/
input[type="text"] {
  background-color: $background-color;
  border: 1px solid $white-color;
}

.file-input {
  overflow: hidden;
  position: relative;
  padding: 0;
  span {
    padding: 0 30px;
  }
}

input[type="file"] {
  position: absolute;
  opacity: 0.001;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border: 1px solid $orange-color;
}

button {
  color: $white-color;
  border: 1px solid $white-color;
  transition: all 0.4s;
  margin-bottom: 1.5rem;
}

button.form-control {
  margin-top: 2.5rem;
}

button:hover {
  color: $orange-color;
  border-color: $orange-color;
}

input[disabled], button[disabled] {
  border-color: $grey-color;
  color: $grey-color;
}

button[disabled]:hover {
  border-color: $grey-color;
  color: $grey-color;
}


/****form end ***/
