<div ng-show="loading" class="sk-spinner sk-spinner-pulse app-spinner"></div>

<h5>Current user details</h5>
<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="four columns">Name:</div>
      <div class="eight columns">{{ user.name }}</div>
    </div>

    <div class="row">
      <div class="four columns">Password:</div>
      <div class="eight columns">Not shown for security reasons</div>
    </div>

    <div class="row">
      <div class="four columns">Last login:</div>
      <div class="eight columns">{{ user.last_login }}</div>
    </div>

    <div class="row">
      <div class="offset-by-eight columns">
        <button class="form-control" ui-sref="layout.users.edit({userId: currentUser.id})">Edit</button>
      </div>
    </div>
  </div>

  <div class="five columns">
    <div class="row">
      <div class="u-pull-right">
        <button confirm-modal
                model="user"
                action="logout()"
                text="You are about to log out."
                working="working"
                ng-disable="modalLoading">
          <span ng-show="!modalLoading">Log out</span>
          <div class="sk-spinner sk-spinner-pulse u-pull-right button-spinner" ng-show="modalLoading"></div>
        </button>
      </div>
    </div>
  </div>
</div>