<div>
  <div class="row">
    <div>
      {{ text }}
    </div>
  </div>

  <div class="row">
    <div>
      {{ itemName }}
    </div>
  </div>

  <div class="row">
    <div>
      Are you absolutely positively sure?
    </div>
  </div>

  <div class="row">
    <button class="u-pull-right modal-button"
            ng-click="confirm()"
            ng-disabled="working">
      <span ng-show="!working">Yes</span>
      <div class="sk-spinner sk-spinner-pulse u-pull-right button-spinner" ng-show="working"></div>
    </button>
  </div>
</div>