<div class="row">

  <button class="u-pull-right action-control" ng-click="editing = true" ng-disabled="editing">
    Edit
  </button>

  <div ng-show="!model.title && !editing">No content here, sorry.</div>
  <div ng-show="!editing && !working" ng-bind-html="trustAsHtml(model.kram_content)"></div>
</div>


<form name="contentForm" ng-show="editing">
  <div class="row">
    <textarea class="parent-width" ng-model="model.content" ng-disabled="working"></textarea>
  </div>
  <div class="row">
    <button class="form-control u-pull-right"
              ng-click="saveContent()"
              ng-disabled="working">
      <span ng-hide="working">Submit</span>
      <div class="sk-spinner sk-spinner-pulse u-pull-right button-spinner" ng-show="working"></div>
    </button>
    <button class="form-control u-pull-right"
            ng-click="editing = false"
            ng-disabled="working">
      Cancel
    </button>
  </div>
</form>

