---
##app wide
:app_title: "Astonishingly Friendly Owl"
:app_subtitle: "No bluejays or mockingbirds will be tolerated!"
:app_author: "Mr. Beakley"
:app_description: "Webcomic for avid poulty aficionados."

# WARN, DEBUG, ERROR, FATAL, INFO, UNKNOWN
:log_level: INFO


## db setup
:db_user: "postgres"
:db_password: "changeme"
:db_path: "localhost/postgres"

## privileged access
:admins: 
  - :name: "admin1"
    :password: "changeme" 

  - :name: "admin2" 
    :password: "changeme"