<div>public view</div>
<div>{{ 2 + 2 }}</div>
<div class="row" ui-view></div>
<div class="navbar">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Disclaimer</a></li>
  </ul>
</div>